.user-profile-container {
  min-width: 420px; }

md-datepicker button.md-datepicker-button.md-button.md-icon-button {
  margin-left: -11px;
  margin-right: 0px; }

md-datepicker .md-datepicker-input-container {
  margin-left: 0px; }
