<md-dialog class="user-settings-container" aria-label="user settings" ng-cloak>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>User Settings</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
              <md-icon md-svg-src="images/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content style="max-width:800px; max-height:810px;">
        <div class="md-dialog-content" layout="column">
            <div layout="row">
                <md-button class="md-raised md-warn" ng-click="deleteUser()">
                    <md-icon md-svg-src="images/icons/ic_delete_24px.svg" class="name"></md-icon>
                    Delete User
                </md-button>
                <p class="md-caption">You will be logged out.  Forever.</p>
            </div>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button ng-click="openUserProfile()">
            Back
        </md-button>
        <span flex></span>
        <md-button class="md-raised md-ink-ripple" ng-click="close()" style="margin-right:20px;" >
            Close
        </md-button>
    </md-dialog-actions>
</md-dialog>
