<md-dialog class="user-profile-container" aria-label="User Profile" ng-cloak>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>User Profile</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                  <md-icon md-svg-src="images/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content style="max-width:800px;max-height:810px; ">
            <div class="md-dialog-content" layout="column">
                <md-input-container class="md-icon-float">
                    <!-- Use floating label instead of placeholder -->
                    <label>Name</label>
                    <md-icon md-svg-src="images/icons/ic_person_24px.svg" class="name"></md-icon>
                    <input name="name" ng-model="user.name" ng-change="setSaveButton()">
                </md-input-container>
                <md-input-container class="md-icon-float">
                    <label>Phone</label>
                    <md-icon md-svg-src="images/icons/ic_phone_24px.svg"></md-icon>
                    <input name="phone" ng-model="user.phone" ng-change="setSaveButton()">
                </md-input-container>
                <md-input-container class="md-icon-float">
                    <!-- Use floating placeholder instead of label -->
                    <label>Email</label>
                    <md-icon md-svg-src="images/icons/ic_email_24px.svg" class="email"></md-icon>
                    <input name="email" ng-model="user.email" ng-change="setSaveButton()">
                </md-input-container>
                <md-input-container class="md-icon-float">
                    <label>Address</label>
                    <md-icon md-svg-src="images/icons/ic_place_24px.svg"></md-icon>
                    <input name="address" ng-model="user.address" ng-change="setSaveButton()">
                </md-input-container>
                <md-datepicker name="birthday" ng-model="user.birthday" 
                    ng-change="setSaveButton()"
                    md-placeholder="Birthday">
                </md-datepicker>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button>
                Preferences
            </md-button>
            <span flex></span>
            <md-button class="md-raised md-ink-ripple" ng-class="{ 'md-accent': isEdited }" ng-click="saveClose()" style="margin-right:20px;" >
                {{ buttonText }}
            </md-button>
        </md-dialo-actions>
    </form>
</md-dialog>
