<md-sidenav class="md-sidenav-left wil-sidenav" md-component-id="left" flex md-is-locked-open="$mdMedia('gt-md')">
    <md-toolbar class="md-theme-indigo" show-md hide-gt-md>
        <h1 class="md-toolbar-tools">Menu</h1>
    </md-toolbar>
    <md-content layout-padding>
        <md-button ng-click="">
            <span>Home</span>
        </md-button>
        <md-button ng-click="">
            <span>Page 2</span>
        </md-button>
        <md-button ng-click="">
            <span>Page 3</span>
        </md-button>
        <md-button ng-click="vm.close()" hide-gt-md>
            Close Sidenav Left
        </md-button>
    </md-content>
</md-sidenav>
