<div class="sign-up-container">
    <form name="signUpForm" ng-submit="vm.onSignUp(vm.email, vm.password)">
        <md-content class="md-padding">
            <md-card>
              <md-toolbar>
                  <div class="md-toolbar-tools">
                    <span>Sign Up</span>
                  </div>
              </md-toolbar>
              <md-card-content>
                  <!--<h2 class="md-title">Paracosm</h2>-->
                      <!-- EMAIL FIELD -->
                      <md-input-container>
                          <label>Email</label>
                          <input name="email" type="email" required ng-model="vm.email">
                          <div ng-messages="signUpForm.email.$error">
                              <div ng-message="required">This is required.</div>
                              <div ng-message="email">Your email address is invalid</div>
                          </div>
                      </md-input-container>
                      <!-- PASSWORD FIELD -->
                      <md-input-container>
                          <label>Password</label>
                          <input name="password" type="password" required ng-model="vm.password">
                          <div ng-messages="signUpForm.password.$error">
                              <div ng-message="required">This is required.</div>
                          </div>
                      </md-input-container>
              </md-card-content>
              <div class="md-actions" layout="row" layout-align="end center">
                <md-button type="submit">Sign Up</md-button>
              </div>
            </md-card>
        </md-content>
    </form>
</div>
