<div class="wil-toolbar-container">
    <md-content>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <md-button ng-click="vm.toggleLeft()" class="md-icon-button" aria-label="Settings" hide-gt-md>
                    <md-icon md-svg-icon="images/icons/ic_menu_24px.svg"></md-icon>
                </md-button>
                <h2><span>Application Name</span></h2>
                <span flex></span>
                <wil-user-menu></wil-user-menu>
            </div>
        </md-toolbar>
    </md-content>
</div>
