<div class="wil-toolbar-container">
    <md-content>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <md-button ng-click="vm.toggleLeft()" class="md-icon-button" aria-label="Settings" hide-gt-md>
                    <md-icon md-svg-icon="images/icons/ic_menu_24px.svg"></md-icon>
                </md-button>
                <h2><span>Application Name</span></h2>
                <span flex></span>
                <md-menu md-position-mode="target-right target">
                  <md-button class="md-icon-button" aria-label="Settings" 
                      ng-click="vm.openMenu($mdOpenMenu, $event)">
                      <i class="mdi mdi-account"></i>
                  </md-button>
                  <md-menu-content width="4">
                    <md-menu-item>
                      <md-button>Messages</md-button>
                    </md-menu-item>
                    <md-menu-item>
                      <md-button>Profile</md-button>
                    </md-menu-item>
                    <md-menu-item>
                      <md-button>Billing</md-button>
                    </md-menu-item>
                    <md-divider></md-divider>
                    <md-menu-item>
                      <md-button>Log Out</md-button>
                    </md-menu-item>
                  </md-menu-content>
                </md-menu>
            </div>
        </md-toolbar>
    </md-content>
</div>
