/* Override default sidenav width */
md-sidenav.wil-sidenav {
  width: 202px;
  min-width: 202px;
  max-width: 202px; }
  md-sidenav.wil-sidenav md-content {
    background-color: #f2f2f2;
    height: 100%; }
    md-sidenav.wil-sidenav md-content button {
      font-weight: 400;
      margin-left: 0px;
      margin-right: 0px;
      display: block;
      text-align: left; }
      md-sidenav.wil-sidenav md-content button md-icon {
        height: 20px;
        width: 20px;
        margin-left: 10px;
        margin-right: 6px; }
